.body {
  position: relative;
  width: 700px;
  font-size: 30px;
  top: 200px;
  left: 300px;
  color: white;
}

.about-skills {
  position: relative;
  color: rgb(0, 223, 0);
  cursor: pointer;
}

.about-skills::after {
  content: "";
  position: absolute;
  width: 500px;
  height: 100px;
  background-color: transparent;
  border: solid 4px rgb(0, 223, 0);
  border-radius: 5px;
  top: 24px;
  left: 227px;
  transition-duration: 0.5s;
  transform-origin: 0 0;
  transform: scaleX(0) scaleY(0)
}

.about-skills:hover:after {
  transition-duration: 0.7s;
  transform: scaleX(100%) scaleY(100%);
}