// VARIABLES
$color-green: rgb(0, 167, 130);
$color-white: rgb(230, 255, 255);
$color-black: rgb(26, 26, 26);

// MIXINS
@mixin w-h($width: 50px, $height: 50px) {
  width: $width;
  height: $height;
}

@mixin flexbox($fd: row, $ai: center, $jc: center) {
  display: flex;
  flex-direction: $fd;
  align-items: $ai;
  justify-content: $jc;
}

// KEYFRAMES
@keyframes spin1 {
  0% {
    transform: rotate(45deg) rotate3d(1, 1, 0, 0deg);
    z-index: 9;
  }
  50% {
    transform: rotate(45deg) rotate3d(1, 1, 0, 180deg);
    z-index: 9;
  }
  100% {
    transform: rotate(45deg) rotate3d(1, 1, 0, 355deg);
    z-index: 11;
  }
}

@keyframes spin2 {
  0% {
    transform: rotate(45deg) rotate3d(1, 1, 0, 0deg);
    z-index: 11;
  }
  50% {
    transform: rotate(45deg) rotate3d(1, 1, 0, 180deg);
    z-index: 9;
  }
  100% {
    transform: rotate(45deg) rotate3d(1, 1, 0, 355deg);
    z-index: 9;
  }
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: translateY(5vh);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes mouse-appear {
  0% {
    opacity: 0;
    transform: translate(-50%, 5vh);
  }
  80% {
    opacity: 1;
    transform: translate(-50%, 0);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}

@keyframes mouse-disappear {
  0% {
    opacity: 1;
    transform: translateX(-50%);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -10vh);
  }
}

@keyframes bounce {
  0% {
    opacity: 1;
    transform: translate(-50%, 0);
  }
  10% {
    opacity: 1;
    transform: translate(-50%, 0);
  }
  40% {
    opacity: 1;
    transform: translate(-50%, 50%);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}

@keyframes revealLinks {
  0% {
    opacity: 0;
    transform: translateY(10vh);
  }
  80% {
    opacity: 1;
    transform: translateY(-3vh);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes dropIn {
  0% {
    opacity: 0;
    transform: translateY(-20vh);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

///////////
// STYLING
///////////
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: $color-white;
  font-family: "Montserrat", sans-serif;
  cursor: default;
}

::-webkit-scrollbar {
  display: none;
}

body {
  background-color: $color-black;
}

section {
  @include flexbox;
  position: relative;
}

.scroll-down {
  @include flexbox($fd: column);
  position: absolute;
  left: 50%;
  bottom: 10vh;
  opacity: 0;
  animation: 1s ease-in-out 3s mouse-appear, infinite 3s ease 4s bounce;

  &.disappear {
    animation: 0.5s ease mouse-disappear;
  }

  .mouse {
    @include w-h(35px, 35px);
  }

  .arrows {
    @include w-h(15px, 15px);
    transform: translateY(-2px);
  }
}

///////
// Logo
///////
@media (max-width: 600px) {
  .logo-container {
    top: 10px;
    left: 20px;
  }
}

@media (min-width: 601px) {
  .logo-container {
    top: 1vw;
    left: 1vw;
  }
}

.logo-container {
  @include w-h(70px, 70px);
  @include flexbox;
  position: fixed;
  z-index: 10;

  .logo {
    height: 40px;
    color: $color-white;
    z-index: 10;
    cursor: pointer;
  }

  .logo-box-1,
  .logo-box-2 {
    @include w-h;
    align-self: center;
    justify-self: center;
    position: absolute;
    cursor: pointer;
  }

  .logo-box-1 {
    border-top: 3px solid $color-green;
    border-right: 3px solid $color-green;
    animation: spin1 7s linear infinite;
  }

  .logo-box-2 {
    border-left: 3px solid $color-green;
    border-bottom: 3px solid $color-green;
    animation: spin2 7s linear infinite;
  }
}

/*****************/
/* INTRO SECTION */
/*****************/
@media (max-width: 600px) {
  .intro {
    li {
      font-size: 40px;
    }
    h5 {
      font-size: 15px;
    }
    .intro-resume,
    .intro-contact {
      @include w-h(100px, 30px);
      font-size: 15px;
      padding: 2px 5px;
      margin: 0 10px;
    }
  }
}

@media (min-width: 601px) and (max-width: 1300px) {
  .intro {
    li {
      font-size: 60px;
    }
    h5 {
      font-size: 20px;
    }
    .intro-resume,
    .intro-contact {
      @include w-h(143px, 38px);
      font-size: 20px;
      padding: 5px 20px;
      margin: 0 20px;
    }
  }
}

@media (min-width: 1301px) {
  .intro {
    li {
      font-size: 150px;
    }
    h5 {
      font-size: 30px;
    }
    .intro-resume,
    .intro-contact {
      @include w-h(143px, 38px);
      font-size: 20px;
      padding: 5px 20px;
      margin: 0 20px;
    }
  }
}

.intro {
  @include w-h(100vw, 80vh);
  flex-direction: column;
  padding-top: 10vh;
  position: relative;

  li,
  h5 {
    cursor: default;
  }

  ul {
    list-style: none;

    li {
      display: inline-block;
      background: linear-gradient(180deg, $color-green 40%, $color-white 100%);
      background-clip: text;
      -webkit-text-fill-color: transparent;
      font-weight: 700;
      letter-spacing: 1px;
      opacity: 0;
      animation: 0.2s ease-in-out dropIn forwards;

      @for $i from 1 through 5 {
        &:nth-child(#{$i}) {
          animation-delay: $i * 0.1s + 0.3s;
        }
      }

      @for $i from 7 through 14 {
        &:nth-child(#{$i}) {
          animation-delay: $i * 0.1s + 0.2s;
        }
      }
    }
  }

  h5 {
    letter-spacing: 2px;
    opacity: 0;
    animation: 0.7s ease-in-out 1.8s appear forwards;
  }

  .intro-buttons-container {
    margin-top: 3%;

    .intro-resume,
    .intro-contact {
      border: 2px solid gray;
      border-radius: 2px;
      background-color: transparent;
      cursor: pointer;
      opacity: 0;

      color: gray;
      font-weight: 500;
      transition-duration: 0.3s;

      animation: 0.7s ease-in-out 2.1s appear forwards;
    }

    .intro-resume:hover,
    .intro-contact:hover {
      transition: 0.5s ease;
      border: 2px solid $color-green;
      color: $color-green;
      background-color: black;
    }
  }
}

/*****************/
/* ABOUT SECTION */
/*****************/
@media (max-width: 1500px) {
  .about-container {
    margin: 0 5vw;
  }
}

@media (min-width: 1501px) {
  .about-container {
    margin: 0 20vw;
  }
}

@media (max-width: 1300px) {
  .about-text {
    font-size: 20px;
  }

  .skills-container {
    margin-top: 25px;

    img {
      @include w-h(45px, 45px);
    }
  }
}

@media (min-width: 1301px) {
  .about-text {
    font-size: 30px;
  }

  .skills-container {
    margin-top: 50px;

    img {
      @include w-h(90px, 90px);
    }
  }
}

@media (max-width: 600px) {
  .skills-container {
    @include flexbox;
    width: 275px;
    flex-wrap: wrap;
  }
}

.about-container {
  @include flexbox($fd: column);
  @include w-h(100vw, 50vh);

  .about-text {
    color: $color-white;
    text-align: center;
    opacity: 0;
  }

  .skills-container {
    opacity: 0;

    img {
      margin: 5px;
    }
  }
}

/****************/
/* WORK SECTION */
/****************/
@media (max-width: 900px) {
  .project {
    width: 80%;
  }
}

@media (min-width: 901px) and (max-width: 1300px) {
  .project {
    width: 70%;
  }
}

@media (min-width: 1301px) {
  .project {
    width: 60%;
  }
}

.work {
  @include w-h(100vw, fit-content);
  @include flexbox(column, center, center);

  .project {
    overflow: hidden;
    margin-top: 10vh;
    opacity: 1;
    position: relative;

    .project-overlay {
      @include w-h(100%, calc(100% - 4px));
      @include flexbox;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 5;
      opacity: 0;
      transition: 0.3s ease;

      &:hover {
        opacity: 1;
        background-color: rgba(0, 0, 0, 0.7);
        transition: 0.3s ease;
      }

      .link {
        @include w-h(fit-content, fit-content);
        padding: 1%;
        border: solid 2px $color-green;
        border-radius: 10px;
        background-color: $color-black;
        color: $color-green;
        font-weight: 700;
        cursor: pointer;

        &:hover {
          background-color: black;
        }
      }
    }

    .project-tile {
      @include w-h(100%, 100%);
      .video-player {
        @include w-h(100%, 100%);
      }
    }
  }
}

/*******************/
/* CONTACT SECTION */
/*******************/
@media (max-width: 700px) {
  .contact-container {
    width: 400px;
  }
}

@media (min-width: 701px) {
  .contact-container {
    width: 500px;
  }
}

.contact {
  @include w-h(100vw, fit-content);
  margin-top: 15vh;

  .contact-container {
    @include flexbox($fd: column);
    margin-bottom: 5px;

    .contact-form {
      @include flexbox($fd: column, $jc: flex-start);
      @include w-h(100%, 100%);
      gap: 40px;

      .hidden {
        opacity: 0;
        transform: translateX(-50vw);
      }

      .reveal {
        opacity: 1;
        transform: none;
        transition-duration: 0.3s;
        transition-timing-function: ease-in;
      }

      .contact-title {
        color: $color-green;
        font-size: 30px;

        &.reveal {
          transition-delay: 0s;
        }
      }

      .input {
        @include w-h(100%, 25px);
        position: relative;

        &.message {
          @include w-h(100%, 60px);
        }

        & input,
        & textarea {
          background-color: transparent;
          cursor: text;
          border: none;
          border-bottom: solid 2px $color-green;
          outline: none;
          color: $color-green;
          font-size: 16px;
          font-weight: 500;
        }

        & input {
          @include w-h(100%, 25px);
        }

        & textarea {
          @include w-h(100%, 60px);
          resize: none;
        }

        & span {
          position: absolute;
          color: $color-green;
          left: 0;
          bottom: 5px;
          font-size: 16px;
          font-weight: 500;
          pointer-events: none;
          transition: 0.5s;
        }

        & input:focus ~ span,
        & input:valid ~ span {
          color: rgb(53, 53, 53);
          transform: translateY(-20px);
        }

        & textarea:focus ~ span,
        & textarea:valid ~ span {
          color: rgb(53, 53, 53);
          transform: translateY(-55px);
        }

        &.name.reveal {
          transition-delay: 0.2s;
        }

        &.email.reveal {
          transition-delay: 0.4s;
        }

        &.message.reveal {
          transition-delay: 0.6s;
        }
      }

      .submit {
        button {
          @include w-h(70px, 30px);
          border: 1px solid $color-green;
          border-radius: 4px;
          cursor: pointer;
          font-weight: 700;
          background-color: $color-black;
          color: $color-green;
          transition: 0.3s ease;

          &:hover {
            transition: 0.3s ease;
            background-color: $color-green;
            color: black;
          }
        }

        &.reveal {
          transition-delay: 0.8s;
        }
      }
    }

    .contact-links {
      @include flexbox;
      margin: 15vh;

      img {
        @include w-h(10vh, 10vh);
        margin: 0 2vw;
        cursor: pointer;

        &.hidden {
          opacity: 0;
          transform: translateY(10vh);
        }
      }

      .link-github.reveal {
        animation: 0.3s ease-in 1s forwards revealLinks;
      }

      .link-linkedin.reveal {
        animation: 0.3s ease-in 1.2s forwards revealLinks;
      }

      .link-resume.reveal {
        animation: 0.3s ease-in 1.4s forwards revealLinks;
      }
    }
  }
}
