@-webkit-keyframes spin1 {
  0% {
    transform: rotate(45deg) rotate3d(1, 1, 0, 0deg);
    z-index: 9;
  }
  50% {
    transform: rotate(45deg) rotate3d(1, 1, 0, 180deg);
    z-index: 9;
  }
  100% {
    transform: rotate(45deg) rotate3d(1, 1, 0, 355deg);
    z-index: 11;
  }
}
@keyframes spin1 {
  0% {
    transform: rotate(45deg) rotate3d(1, 1, 0, 0deg);
    z-index: 9;
  }
  50% {
    transform: rotate(45deg) rotate3d(1, 1, 0, 180deg);
    z-index: 9;
  }
  100% {
    transform: rotate(45deg) rotate3d(1, 1, 0, 355deg);
    z-index: 11;
  }
}
@-webkit-keyframes spin2 {
  0% {
    transform: rotate(45deg) rotate3d(1, 1, 0, 0deg);
    z-index: 11;
  }
  50% {
    transform: rotate(45deg) rotate3d(1, 1, 0, 180deg);
    z-index: 9;
  }
  100% {
    transform: rotate(45deg) rotate3d(1, 1, 0, 355deg);
    z-index: 9;
  }
}
@keyframes spin2 {
  0% {
    transform: rotate(45deg) rotate3d(1, 1, 0, 0deg);
    z-index: 11;
  }
  50% {
    transform: rotate(45deg) rotate3d(1, 1, 0, 180deg);
    z-index: 9;
  }
  100% {
    transform: rotate(45deg) rotate3d(1, 1, 0, 355deg);
    z-index: 9;
  }
}
@-webkit-keyframes appear {
  0% {
    opacity: 0;
    transform: translateY(5vh);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes appear {
  0% {
    opacity: 0;
    transform: translateY(5vh);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@-webkit-keyframes mouse-appear {
  0% {
    opacity: 0;
    transform: translate(-50%, 5vh);
  }
  80% {
    opacity: 1;
    transform: translate(-50%, 0);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}
@keyframes mouse-appear {
  0% {
    opacity: 0;
    transform: translate(-50%, 5vh);
  }
  80% {
    opacity: 1;
    transform: translate(-50%, 0);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}
@-webkit-keyframes mouse-disappear {
  0% {
    opacity: 1;
    transform: translateX(-50%);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -10vh);
  }
}
@keyframes mouse-disappear {
  0% {
    opacity: 1;
    transform: translateX(-50%);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -10vh);
  }
}
@-webkit-keyframes bounce {
  0% {
    opacity: 1;
    transform: translate(-50%, 0);
  }
  10% {
    opacity: 1;
    transform: translate(-50%, 0);
  }
  40% {
    opacity: 1;
    transform: translate(-50%, 50%);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}
@keyframes bounce {
  0% {
    opacity: 1;
    transform: translate(-50%, 0);
  }
  10% {
    opacity: 1;
    transform: translate(-50%, 0);
  }
  40% {
    opacity: 1;
    transform: translate(-50%, 50%);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}
@-webkit-keyframes revealLinks {
  0% {
    opacity: 0;
    transform: translateY(10vh);
  }
  80% {
    opacity: 1;
    transform: translateY(-3vh);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@keyframes revealLinks {
  0% {
    opacity: 0;
    transform: translateY(10vh);
  }
  80% {
    opacity: 1;
    transform: translateY(-3vh);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@-webkit-keyframes dropIn {
  0% {
    opacity: 0;
    transform: translateY(-20vh);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@keyframes dropIn {
  0% {
    opacity: 0;
    transform: translateY(-20vh);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: rgb(230, 255, 255);
  font-family: "Montserrat", sans-serif;
  cursor: default;
}

::-webkit-scrollbar {
  display: none;
}

body {
  background-color: rgb(26, 26, 26);
}

section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
}

.scroll-down {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 50%;
  bottom: 5vh;
  opacity: 0;
  -webkit-animation: 1s ease-in-out 3s mouse-appear, infinite 3s ease 4s bounce;
          animation: 1s ease-in-out 3s mouse-appear, infinite 3s ease 4s bounce;
}
.scroll-down.disappear {
  -webkit-animation: 0.5s ease mouse-disappear;
          animation: 0.5s ease mouse-disappear;
}
.scroll-down .mouse {
  width: 35px;
  height: 35px;
}
.scroll-down .arrows {
  width: 15px;
  height: 15px;
  transform: translateY(-2px);
}

@media (max-width: 600px) {
  .logo-container {
    top: 10px;
    left: 20px;
  }
}
@media (min-width: 601px) {
  .logo-container {
    top: 1vw;
    left: 1vw;
  }
}
.logo-container {
  width: 70px;
  height: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 10;
}
.logo-container .logo {
  height: 40px;
  color: rgb(230, 255, 255);
  z-index: 10;
  cursor: pointer;
}
.logo-container .logo-box-1,
.logo-container .logo-box-2 {
  width: 50px;
  height: 50px;
  align-self: center;
  justify-self: center;
  position: absolute;
  cursor: pointer;
}
.logo-container .logo-box-1 {
  border-top: 3px solid rgb(0, 167, 130);
  border-right: 3px solid rgb(0, 167, 130);
  -webkit-animation: spin1 7s linear infinite;
          animation: spin1 7s linear infinite;
}
.logo-container .logo-box-2 {
  border-left: 3px solid rgb(0, 167, 130);
  border-bottom: 3px solid rgb(0, 167, 130);
  -webkit-animation: spin2 7s linear infinite;
          animation: spin2 7s linear infinite;
}

/*****************/
/* INTRO SECTION */
/*****************/
@media (max-width: 600px) {
  .intro li {
    font-size: 40px;
  }
  .intro h5 {
    font-size: 15px;
  }
  .intro .intro-resume,
.intro .intro-contact {
    width: 100px;
    height: 30px;
    font-size: 15px;
    padding: 2px 5px;
    margin: 0 10px;
  }
}
@media (min-width: 601px) and (max-width: 1300px) {
  .intro li {
    font-size: 60px;
  }
  .intro h5 {
    font-size: 20px;
  }
  .intro .intro-resume,
.intro .intro-contact {
    width: 143px;
    height: 38px;
    font-size: 20px;
    padding: 5px 20px;
    margin: 0 20px;
  }
}
@media (min-width: 1301px) {
  .intro li {
    font-size: 150px;
  }
  .intro h5 {
    font-size: 30px;
  }
  .intro .intro-resume,
.intro .intro-contact {
    width: 143px;
    height: 38px;
    font-size: 20px;
    padding: 5px 20px;
    margin: 0 20px;
  }
}
.intro {
  width: 100vw;
  height: 80vh;
  flex-direction: column;
  padding-top: 10vh;
  position: relative;
}
.intro li,
.intro h5 {
  cursor: default;
}
.intro ul {
  list-style: none;
}
.intro ul li {
  display: inline-block;
  background: linear-gradient(180deg, rgb(0, 167, 130) 40%, rgb(230, 255, 255) 100%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  letter-spacing: 1px;
  opacity: 0;
  -webkit-animation: 0.2s ease-in-out dropIn forwards;
          animation: 0.2s ease-in-out dropIn forwards;
}
.intro ul li:nth-child(1) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}
.intro ul li:nth-child(2) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
.intro ul li:nth-child(3) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}
.intro ul li:nth-child(4) {
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}
.intro ul li:nth-child(5) {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}
.intro ul li:nth-child(7) {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}
.intro ul li:nth-child(8) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
.intro ul li:nth-child(9) {
  -webkit-animation-delay: 1.1s;
          animation-delay: 1.1s;
}
.intro ul li:nth-child(10) {
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}
.intro ul li:nth-child(11) {
  -webkit-animation-delay: 1.3s;
          animation-delay: 1.3s;
}
.intro ul li:nth-child(12) {
  -webkit-animation-delay: 1.4s;
          animation-delay: 1.4s;
}
.intro ul li:nth-child(13) {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}
.intro ul li:nth-child(14) {
  -webkit-animation-delay: 1.6s;
          animation-delay: 1.6s;
}
.intro h5 {
  letter-spacing: 2px;
  opacity: 0;
  -webkit-animation: 0.7s ease-in-out 1.8s appear forwards;
          animation: 0.7s ease-in-out 1.8s appear forwards;
}
.intro .intro-buttons-container {
  margin-top: 3%;
}
.intro .intro-buttons-container .intro-resume,
.intro .intro-buttons-container .intro-contact {
  border: 2px solid gray;
  border-radius: 2px;
  background-color: transparent;
  cursor: pointer;
  opacity: 0;
  color: gray;
  font-weight: 500;
  transition-duration: 0.3s;
  -webkit-animation: 0.7s ease-in-out 2.1s appear forwards;
          animation: 0.7s ease-in-out 2.1s appear forwards;
}
.intro .intro-buttons-container .intro-resume:hover,
.intro .intro-buttons-container .intro-contact:hover {
  transition: 0.5s ease;
  border: 2px solid rgb(0, 167, 130);
  color: rgb(0, 167, 130);
  background-color: black;
}

/*****************/
/* ABOUT SECTION */
/*****************/
@media (max-width: 1500px) {
  .about-container {
    margin: 0 5vw;
  }
}
@media (min-width: 1501px) {
  .about-container {
    margin: 0 20vw;
  }
}
@media (max-width: 1300px) {
  .about-text {
    font-size: 20px;
  }
  .skills-container {
    margin-top: 25px;
  }
  .skills-container img {
    width: 45px;
    height: 45px;
  }
}
@media (min-width: 1301px) {
  .about-text {
    font-size: 30px;
  }
  .skills-container {
    margin-top: 50px;
  }
  .skills-container img {
    width: 90px;
    height: 90px;
  }
}
@media (max-width: 600px) {
  .skills-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 275px;
    flex-wrap: wrap;
  }
}
.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 50vh;
}
.about-container .about-text {
  color: rgb(230, 255, 255);
  text-align: center;
  opacity: 0;
}
.about-container .skills-container {
  opacity: 0;
}
.about-container .skills-container img {
  margin: 5px;
}

/****************/
/* WORK SECTION */
/****************/
@media (max-width: 900px) {
  .project {
    width: 80%;
  }
}
@media (min-width: 901px) and (max-width: 1300px) {
  .project {
    width: 70%;
  }
}
@media (min-width: 1301px) {
  .project {
    width: 60%;
  }
}
.work {
  width: 100vw;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.work .project {
  overflow: hidden;
  margin-top: 10vh;
  opacity: 1;
  position: relative;
}
.work .project .project-overlay {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  opacity: 0;
  transition: 0.3s ease;
}
.work .project .project-overlay:hover {
  opacity: 1;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  transition: 0.3s ease;
}
.work .project .project-overlay .link {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 1%;
  border: solid 2px rgb(0, 167, 130);
  border-radius: 10px;
  background-color: rgb(26, 26, 26);
  color: rgb(0, 167, 130);
  font-weight: 700;
  cursor: pointer;
}
.work .project .project-overlay .link:hover {
  background-color: black;
}
.work .project .video-player {
  width: 100%;
  height: 100%;
}

/*******************/
/* CONTACT SECTION */
/*******************/
@media (max-width: 700px) {
  .contact-container {
    width: 400px;
  }
}
@media (min-width: 701px) {
  .contact-container {
    width: 500px;
  }
}
.contact {
  width: 100vw;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-top: 15vh;
}
.contact .contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
}
.contact .contact-container .contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  gap: 40px;
}
.contact .contact-container .contact-form .hidden {
  opacity: 0;
  transform: translateX(-50vw);
}
.contact .contact-container .contact-form .reveal {
  opacity: 1;
  transform: none;
  transition-duration: 0.3s;
  transition-timing-function: ease-in;
}
.contact .contact-container .contact-form .contact-title {
  color: rgb(0, 167, 130);
  font-size: 30px;
}
.contact .contact-container .contact-form .contact-title.reveal {
  transition-delay: 0s;
}
.contact .contact-container .contact-form .input {
  width: 100%;
  height: 25px;
  position: relative;
}
.contact .contact-container .contact-form .input.message {
  width: 100%;
  height: 60px;
}
.contact .contact-container .contact-form .input input, .contact .contact-container .contact-form .input textarea {
  background-color: transparent;
  cursor: text;
  border: none;
  border-bottom: solid 2px rgb(0, 167, 130);
  outline: none;
  color: rgb(0, 167, 130);
  font-size: 16px;
  font-weight: 500;
}
.contact .contact-container .contact-form .input input {
  width: 100%;
  height: 25px;
}
.contact .contact-container .contact-form .input textarea {
  width: 100%;
  height: 60px;
  resize: none;
}
.contact .contact-container .contact-form .input span {
  position: absolute;
  color: rgb(0, 167, 130);
  left: 0;
  bottom: 5px;
  font-size: 16px;
  font-weight: 500;
  pointer-events: none;
  transition: 0.5s;
}
.contact .contact-container .contact-form .input input:focus ~ span, .contact .contact-container .contact-form .input input:valid ~ span {
  color: rgb(53, 53, 53);
  transform: translateY(-20px);
}
.contact .contact-container .contact-form .input textarea:focus ~ span, .contact .contact-container .contact-form .input textarea:valid ~ span {
  color: rgb(53, 53, 53);
  transform: translateY(-55px);
}
.contact .contact-container .contact-form .input.name.reveal {
  transition-delay: 0.2s;
}
.contact .contact-container .contact-form .input.email.reveal {
  transition-delay: 0.4s;
}
.contact .contact-container .contact-form .input.message.reveal {
  transition-delay: 0.6s;
}
.contact .contact-container .contact-form .submit button {
  width: 70px;
  height: 30px;
  border: 1px solid rgb(0, 167, 130);
  border-radius: 4px;
  cursor: pointer;
  font-weight: 700;
  background-color: rgb(26, 26, 26);
  color: rgb(0, 167, 130);
  transition: 0.3s ease;
}
.contact .contact-container .contact-form .submit button:hover {
  transition: 0.3s ease;
  background-color: rgb(0, 167, 130);
  color: black;
}
.contact .contact-container .contact-form .submit.reveal {
  transition-delay: 0.8s;
}
.contact .contact-container .contact-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 15vh;
}
.contact .contact-container .contact-links img {
  width: 10vh;
  height: 10vh;
  margin: 0 2vw;
  cursor: pointer;
}
.contact .contact-container .contact-links img.hidden {
  opacity: 0;
  transform: translateY(10vh);
}
.contact .contact-container .contact-links .link-github.reveal {
  -webkit-animation: 0.3s ease-in 1s forwards revealLinks;
          animation: 0.3s ease-in 1s forwards revealLinks;
}
.contact .contact-container .contact-links .link-linkedin.reveal {
  -webkit-animation: 0.3s ease-in 1.2s forwards revealLinks;
          animation: 0.3s ease-in 1.2s forwards revealLinks;
}
.contact .contact-container .contact-links .link-resume.reveal {
  -webkit-animation: 0.3s ease-in 1.4s forwards revealLinks;
          animation: 0.3s ease-in 1.4s forwards revealLinks;
}/*# sourceMappingURL=App.css.map */