// VARIABLES
$color-green: rgb(0, 223, 0);

// MIXINS
@mixin h-w($height: 50px, $width: 50px) {
  height: $height;
  width: $width;
}

@mixin flexbox($flex-direction: row, $align-items: center, $justify-content: center) {
  display: flex;
  flex-direction: $flex-direction;
  align-items: $align-items;
  justify-content: $justify-content;
}

// KEYFRAMES
@keyframes spin1 {
  0% {
    transform: rotate(45deg) rotate3d(1, 1, 0, 0deg);
    z-index: 9;
  }
  50% {
    transform: rotate(45deg) rotate3d(1, 1, 0, 180deg);
    z-index: 9;
  }
  100% {
    transform: rotate(45deg) rotate3d(1, 1, 0, 355deg);
    z-index: 11;
  }
}

@keyframes spin2 {
  0% {
    transform: rotate(45deg) rotate3d(1, 1, 0, 0deg);
    z-index: 11;
  }
  50% {
    transform: rotate(45deg) rotate3d(1, 1, 0, 180deg);
    z-index: 9;
  }
  100% {
    transform: rotate(45deg) rotate3d(1, 1, 0, 355deg);
    z-index: 9;
  }
}

@media (max-width: 700px) {
  @keyframes emoji-rise {
    0% {top: 0;}
    50% {top: -70px;}
    100% {top: 0;}
  }
}

@media (min-width: 701px) {
  @keyframes emoji-rise {
    0% {top: 0;}
    50% {top: -170px;}
    100% {top: 0;}
  }
}

@keyframes emoji-opacity {
  0% {opacity: 0;}
  50% {opacity: 1;}
  100% {opacity: 0;}
}

@keyframes wave-animation {
  0% {transform: rotate(0deg)}
  10% {transform: rotate(14deg)}
  20% {transform: rotate(-8deg)}
  30% {transform: rotate(14deg)}
  40% {transform: rotate(-4deg)}
  50% {transform: rotate(10deg)}
  60% {transform: rotate(0deg)}
  100% {transform: rotate(0deg)}
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

///////////
// STYLING
///////////

* {
  margin: 0;
  box-sizing: border-box;
  color: white;
  font-family: 'Montserrat', sans-serif;
  scrollbar-width: none;
}

::-webkit-scrollbar {
  display: none;
}

body {
  background-color: black;
}

section {
  @include h-w(100vh, 100vw);
  @include flexbox;
  position: relative;
}

.background {
  position: absolute;
  z-index: -1;
  bottom: 10%;
  right: 15%;
  font-size: 150px;
  text-shadow: 5px 5px 5px rgb(10, 10, 10);
  color: black;
}

@media (max-width: 1400px) {
  .background {
    font-size: 100px;
  }
}

@media (max-width: 600px) {
  .background {
    font-size: 75px;
  }
}

/******************/
/* NAVBAR SECTION */
/******************/
@media (max-width: 600px) {
  .navbar {
    padding: 40px;
  }
}

@media (min-width: 601px) {
  .navbar {
    padding: 30px 50px;
  }
}

.navbar {
  @include flexbox($justify-content: space-between);
  @include h-w(80px, 100vw);
  position: fixed;
  top: 0;
  z-index: 10;

  .logo-container {
    @include flexbox;

    .logo {
      height: 40px;
      color: white;
      cursor: pointer;
      background-color: transparent;
      z-index: 10;
    }
    
    .logo-box-1 {
      @include h-w;
      position: absolute;
      background-color: transparent;
      border-top: 3px solid $color-green;
      border-right: 3px solid $color-green;
      transform: rotate(45deg);
      animation: spin1 7s linear infinite;
      cursor: pointer;
    }

    .logo-box-2 {
      @include h-w;
      position: absolute;
      background-color: transparent;
      border-left: 3px solid $color-green;
      border-bottom: 3px solid $color-green;
      transform: rotate(45deg);
      animation: spin2 7s linear infinite;
      cursor: pointer;
    }
  }
  
  .nav-links-container {
    @include flexbox;
    gap: 40px;
  }

  @media (max-width: 600px) {
    .nav-links-container {
      font-size: 12px;
      gap: 20px;
    }
  }
  
  .nav-links-container > h3 {
    /* Must be relative for ::after objects */
    position: relative;
    letter-spacing: 0.5px;
    cursor: pointer;
    color: white;
    transition-duration: 0.3s;
    font-weight: 500;
  }
  
  .nav-links-container > h3:hover {
    transition: color 0.5s ease;
    color: $color-green;
  }
  
  .nav-links-container > h3::after {
    @include h-w(2px, 100%);
    content: "";
    position: absolute;
    background-color: $color-green;
    transition-duration: 0.3s;
    transform: scaleX(0);
    left: 0px;
    bottom: 0px;
    opacity: 0;
  }
  
  .nav-links-container > h3:hover:after {
    transition: 
      transform 0.5s,
      opacity 0.5s,
      bottom 0.3s;
    position: absolute;
    transform: scaleX(100%);
    bottom: -10px;
    opacity: 1;
  }
}

/*****************/
/* INTRO SECTION */
/*****************/
@media (max-width: 700px) {
  .intro {
    font-size: 30px;
  }
}

@media (min-width: 701px) {
  .intro {
    font-size: 60px;
  }
}

.intro {
  flex-direction: column;
  letter-spacing: 0.5px;

  .intro-container {
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(3, auto);

    .intro-hi, .intro-im, .intro-bryce, .intro-title {
      opacity: 0;
      cursor: default;
    }

    /* INTRO APPEARANCE */
    .intro-hi {
      animation: 0.7s ease 0.5s forwards appear;
    }

    /* EMOJI ANIMATION */
    .intro-hi::after {
      content: "👋";
      position: absolute;
      left: -10px;
      top: 0;
      opacity: 0;
      z-index: -1;
      transform-origin: 70% 70%;

      animation: 
        2.5s ease 0.5s emoji-rise,
        1.5s ease 0.8s emoji-opacity,
        2s ease 1s wave-animation;
    }
    
    .intro-im {
      animation: 0.7s ease 2s forwards appear;
    }
    
    .intro-bryce {
      animation: 0.7s ease 2.3s forwards appear;
    }

    @media (max-width: 700px) {
      .intro-title {
        font-size: 10px;
      }
    }

    @media (min-width: 701px) {
      .intro-title {
        font-size: 18px;
      }
    }
    
    .intro-title {
      grid-column: 3;
      animation: 0.7s ease 3s forwards appear;
      margin-top: 20px;
      justify-self: center;
    }
  }
  
  .intro-buttons-container {
    margin-top: 7vh;

    .intro-resume, .intro-contact {
      border: 2px solid gray;
      border-radius: 2px;
      padding: 5px 20px;
      margin: 0 20px;
      background-color: transparent;
      cursor: pointer;
      opacity: 0;
      
      color: gray;
      font-weight: 500;
      font-size: 20px;
      transition-duration: 0.3s;
    
      animation-name: appear;
      animation-duration: 1s;
      animation-delay: 4s;
      animation-fill-mode: forwards;
    }
    
    .intro-resume:hover, .intro-contact:hover {
      transition: border 0.5s ease, color 0.5s ease;
      border: 2px solid $color-green;
      color: $color-green;
    }
  }
}

/*****************/
/* ABOUT SECTION */
/*****************/
@media (max-width: 950px) {
  .body.reveal {
    font-size: 20px;
  }
  .skills-container.reveal > img {
    @include h-w(60px, 60px);
  }
}

@media (min-width: 951px) {
  .body.reveal {
    font-size: 30px;
  }
  .skills-container.reveal > img {
    @include h-w(100px, 100px);
  }
}

.about-container {
  @include flexbox(column, flex-start, flex-start);
  transform: translateY(-15%);
  width: 1150px;
  margin: 0 50px;
  
  .body.reveal {
    color: white;

    transform: translateX(-500px);
    opacity: 0;
    transition: all 1s ease;

    &.active {
      transform: translateX(0px);
      opacity: 1;
      transition: all 1s ease;
    }
  }

  @media (max-width: 600px) {
    .skills-container.reveal {
      width: 240px;
    }
  }
  
  .skills-container.reveal {
    margin-top: 50px;
    align-self: flex-end;

    transform: translateX(500px);
    opacity: 0;
    transition: all 1s ease;

    &.skills-container.reveal.active {
      transform: translateX(0px);
      opacity: 1;
      transition: all 1s ease;
    }
  }
}

/****************/
/* WORK SECTION */
/****************/
@media (max-width: 700px) {
  .work-container {
    @include h-w(fit-content, auto);
    grid-template-rows: repeat(3, auto) 4fr;
    grid-template-columns: 1fr;
    gap: 10px;
    transform: translateY(-10%);
  }
}

@media (min-width: 701px) {
  .work-container {
    @include h-w(fit-content, 1400px);
    grid-template-rows: repeat(3, auto);
    grid-template-columns: 1fr 2fr;
    row-gap: 20px;
    transform: translateY(-15%);
  }
}

.work-container {
  display: grid;
  padding: 0 50px;

  @media (max-width: 700px) {
    .project.reveal {
      grid-column: 1 / 2;
    }

    .project-video {
      position: relative;
      grid-column: 1 / 2;
      grid-row: 4 / 5;
      width: 80%;
      padding-bottom: 45%;
      justify-self: center;
      align-self: start;
    }
  }

  @media (min-width: 701px) {
    .project.reveal {
      grid-column: 1 / 2;
    }

    .project-video {
      position: relative;
      grid-column: 2 / 3;
      grid-row: 1 / 4;
      width: 80%;
      padding-bottom: 45%;
      justify-self: end;
      align-self: center;
    }
  }
  
  @media (max-width: 950px) {
    .project.reveal {
      font-size: 12px;
    }
  }

  .project.reveal {
    transform: translateX(1000px);
    opacity: 0;
    transition: all 0.5s ease;
    cursor: default;

    &.active {
      transform: translateX(0px);
      opacity: 1;
      transition: all 0.7s ease;
    }

    h1 {
      color:$color-green;
      cursor: pointer;
      font-size: 24px;
      width: fit-content;
    }

    p {
      color: gray;
      font-weight: 500;
    }
  }

  .project-video.reveal {
    opacity: 0;
    border: inset 5px rgb(0, 116, 0);
  }

  .project-video.reveal.active {
    opacity: 1;
    transition: opacity 1.5s ease;
    transition-delay: 0.3s;
  }

  .video-player {
    @include h-w(100%, 100%);
    position: absolute;
    transition: 1s ease;
  }

  @media (max-width: 700px) {
    .expand {
      transform: scale(150%);
    }
  }

  @media (min-width: 701px) {
    .expand {
      transform: scale(200%) translate(-23%, 0%);
    }
  }

  .expand {
    transition: 1s ease;
    transition-delay: 0.2s;
    cursor: pointer;
  }
}

/*******************/
/* CONTACT SECTION */
/*******************/
@media (max-width: 800px) {
  .contact-container {
    height: 500px;
    grid-template-columns: none;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    transform: translateY(-15%);
  }
}

@media (min-width: 801px) {
  .contact-container {
    @include h-w(auto, 1200px);
    grid-template-columns: 1fr 1fr;
    grid-template-rows: none;
    transform: translateY(-15%);
  }
}

.contact-container {
  display: grid;
  padding: 0 50px;

  @media (max-width: 1000px) {
    .contact-form.reveal {
      width: 300px;
    }
  }

  @media (min-width: 1001px) {
    .contact-form.reveal {
      width: 500px;
    }
  }

  .contact-form.reveal {
    @include flexbox($flex-direction: column, $align-items: flex-start, $justify-content: flex-start);
    gap: 40px;

    opacity: 0;
    transform: translateY(100px);
    transition: 0.7s ease;

    &.active {
      opacity: 1;
      transform: translateY(0px);
      transition: 1s ease;
    }

    .contact-title {
      color: $color-green;
      font-size: 30px;
    }

    .input.message {
      @include h-w(45px, 100%);
    }

    .input {
      @include h-w(25px, 100%);
      position: relative;

      & input, & textarea {
        background-color: transparent;
        cursor: text;
        border: none;
        border-bottom: solid 2px $color-green;
        outline: none;
        color: $color-green;
        font-size: 16px;
        font-weight: 500;
      }

      & input {
        @include h-w(25px, 100%);
      }

      & textarea {
        @include h-w(45px, 100%);
        resize: none;
      }

      & span {
        position: absolute;
        color: $color-green;
        left: 0;
        bottom: 5px;
        font-size: 16px;
        font-weight: 500;
        pointer-events: none;
        transition: 0.5s;
      }

      & input:focus ~ span,
      & input:valid ~ span {
        color: rgb(53, 53, 53);
        transform: translateY(-20px);
      }

      & textarea:focus ~ span,
      & textarea:valid ~ span {
        color: rgb(53, 53, 53);
        transform: translateY(-40px);
      }
    }
    
    .submit button {
      @include h-w(30px, 70px);
      border: 1px solid $color-green;
      border-radius: 4px;
      cursor: pointer;
      font-weight: 700;
      background-color: black;
      color: $color-green;
    }
    
    .submit button:hover {
      transition: 0.5s ease;
      background-color: $color-green;
      color: black;
    }
  }

  @media (max-width: 800px) {
    .contact-links.reveal {
      height: 150px;
    }
  }
  
  .contact-links.reveal {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    opacity: 0;
    transform: translateY(100px);
    transition: 0.5s ease;

    &.active {
      opacity: 1;
      transform: translateY(0px);
      transition: 0.7s ease;
    }

    & img {
      height: 100px;
      width: 100px;
      margin: 0 20px;
      cursor: pointer;
    }
  }
}