// VARIABLES
$color-green: rgb(0, 167, 130);
$color-white: rgb(230, 255, 255);
$color-black: rgb(26, 26, 26);

// MIXINS
@mixin h-w($height: 50px, $width: 50px) {
  height: $height;
  width: $width;
}

@mixin flexbox($flex-direction: row, $align-items: center, $justify-content: center) {
  display: flex;
  flex-direction: $flex-direction;
  align-items: $align-items;
  justify-content: $justify-content;
}

// KEYFRAMES
@keyframes spin1 {
  0% {
    transform: rotate(45deg) rotate3d(1, 1, 0, 0deg);
    z-index: 9;
  }
  50% {
    transform: rotate(45deg) rotate3d(1, 1, 0, 180deg);
    z-index: 9;
  }
  100% {
    transform: rotate(45deg) rotate3d(1, 1, 0, 355deg);
    z-index: 11;
  }
}

@keyframes spin2 {
  0% {
    transform: rotate(45deg) rotate3d(1, 1, 0, 0deg);
    z-index: 11;
  }
  50% {
    transform: rotate(45deg) rotate3d(1, 1, 0, 180deg);
    z-index: 9;
  }
  100% {
    transform: rotate(45deg) rotate3d(1, 1, 0, 355deg);
    z-index: 9;
  }
}

@media (max-width: 700px) {
  @keyframes emoji-rise {
    0% {top: 0;}
    50% {top: -70px;}
    100% {top: 0;}
  }
}

@media (min-width: 701px) {
  @keyframes emoji-rise {
    0% {top: 0;}
    50% {top: -170px;}
    100% {top: 0;}
  }
}

@keyframes emoji-opacity {
  0% {opacity: 0;}
  50% {opacity: 1;}
  100% {opacity: 0;}
}

@keyframes wave-animation {
  0% {transform: rotate(0deg)}
  10% {transform: rotate(14deg)}
  20% {transform: rotate(-8deg)}
  30% {transform: rotate(14deg)}
  40% {transform: rotate(-4deg)}
  50% {transform: rotate(10deg)}
  60% {transform: rotate(0deg)}
  100% {transform: rotate(0deg)}
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

///////////
// STYLING
///////////
* {
  margin: 0;
  box-sizing: border-box;
  color: $color-white;
  font-family: 'Montserrat', sans-serif;
  // border: 1px solid red;
}

::-webkit-scrollbar {
  display: none;
}

body {
  background-color: $color-black;
}

// .container {
//   scroll-snap-type: y mandatory;
//   overflow-y: auto;
// }

section {
  @include h-w(100vh, 100vw);
  @include flexbox;
  position: relative;
  // scroll-snap-align: start;
}

.background {
  position: absolute;
  z-index: -1;
  bottom: 10%;
  right: 15%;
  font-size: 150px;
  text-shadow: 5px 5px 5px rgb(10, 10, 10);
  color: $color-black;
}

@media (max-width: 1400px) {
  .background {
    font-size: 100px;
  }
}

@media (max-width: 600px) {
  .background {
    font-size: 75px;
  }
}

/******************/
/* NAVBAR SECTION */
/******************/
.navbar {
  @include h-w(auto, 100vw);
  display: flex;
  position: fixed;
  padding: 30px 40px;
  top: 0;
  z-index: 10;

  .logo-container {
    @include flexbox;
    left: 0;

    .logo {
      height: 40px;
      color: $color-white;
      cursor: pointer;
    }
    
    .logo-box-1, .logo-box-2 {
      @include h-w;
      position: absolute;
      transform: rotate(45deg);
      cursor: pointer;
    }

    .logo-box-1 {
      border-top: 3px solid $color-green;
      border-right: 3px solid $color-green;
      animation: spin1 7s linear infinite;
    }

    .logo-box-2 {
      border-left: 3px solid $color-green;
      border-bottom: 3px solid $color-green;
      animation: spin2 7s linear infinite;
    }
  }
}

/*****************/
/* INTRO SECTION */
/*****************/
@media (max-width: 700px) {
  .intro {
    font-size: 30px;
  }
}

@media (min-width: 701px) {
  .intro {
    font-size: 60px;
  }
}

.intro {
  flex-direction: column;

  h1 {
    font-size: 150px;
    letter-spacing: 0.5px;
    color: $color-green;
    // MAKE LETTERS FALL INTO PLACE
    // animation: fall 3s steps(14, end);
  }

  h5 {
    font-size: 0.5em;
  }
  
  .intro-buttons-container {
    margin-top: 7vh;

    .intro-resume, .intro-contact {
      border: 2px solid gray;
      border-radius: 2px;
      padding: 5px 20px;
      margin: 0 20px;
      background-color: transparent;
      cursor: pointer;
      opacity: 0;
      
      color: gray;
      font-weight: 500;
      font-size: 20px;
      transition-duration: 0.3s;
    
      animation-name: appear;
      animation-duration: 1s;
      animation-delay: 0s; // CHANGE DELAY BASED ON OTHER ANIMATIONS
      animation-fill-mode: forwards;
    }
    
    .intro-resume:hover, .intro-contact:hover {
      transition: border 0.5s ease, color 0.5s ease;
      border: 2px solid $color-green;
      color: $color-green;
    }
  }
}

/*****************/
/* ABOUT SECTION */
/*****************/
@media (max-width: 950px) {
  .body.reveal {
    font-size: 20px;
  }
  .skills-container.reveal > img {
    @include h-w(60px, 60px);
  }
}

@media (min-width: 951px) {
  .body.reveal {
    font-size: 30px;
  }
  .skills-container.reveal > img {
    @include h-w(100px, 100px);
  }
}

.about-container {
  @include flexbox(column, flex-start, flex-start);
  transform: translateY(-15%);
  width: 1150px;
  margin: 0 50px;
  
  .body.reveal {
    color: $color-white;

    transform: translateX(-500px);
    opacity: 0;
    transition: all 1s ease;

    &.active {
      transform: translateX(0px);
      opacity: 1;
      transition: all 1s ease;
    }
  }

  @media (max-width: 600px) {
    .skills-container.reveal {
      width: 240px;
    }
  }
  
  .skills-container.reveal {
    margin-top: 50px;
    align-self: flex-end;

    transform: translateX(500px);
    opacity: 0;
    transition: all 1s ease;

    &.skills-container.reveal.active {
      transform: translateX(0px);
      opacity: 1;
      transition: all 1s ease;
    }
  }
}

/****************/
/* WORK SECTION */
/****************/
@media (max-width: 700px) {
  .work {
    display: grid;
    padding: 20px;
    grid-template-rows: 20% 20% 20%;
    row-gap: 10px;
  }
}

@media (min-width: 701px) {
  .work {
    display: grid;
    padding: 100px;
    grid-template-columns: 30% 30% 30%;
    column-gap: 50px;
  }
}

.work {
  .project.reveal {
    @include flexbox(column, center, center);
    transform: translateX(1000px);
    opacity: 0;
    transition: all 0.5s ease;
    cursor: pointer;

    &.active {
      transform: translateX(0px);
      opacity: 1;
      transition: all 0.7s ease;
    }
  }

  .video-player {
    @include h-w(auto, 100%);
    transition: 1s ease;
  }
}

/*******************/
/* CONTACT SECTION */
/*******************/
@media (max-width: 800px) {
  .contact-container {
    height: 500px;
    grid-template-columns: none;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    transform: translateY(-15%);
  }
}

@media (min-width: 801px) {
  .contact-container {
    @include h-w(auto, 1200px);
    grid-template-columns: 1fr 1fr;
    grid-template-rows: none;
    transform: translateY(-15%);
  }
}

.contact-container {
  display: grid;
  padding: 0 50px;

  @media (max-width: 1000px) {
    .contact-form.reveal {
      width: 300px;
    }
  }

  @media (min-width: 1001px) {
    .contact-form.reveal {
      width: 500px;
    }
  }

  .contact-form.reveal {
    @include flexbox($flex-direction: column, $align-items: flex-start, $justify-content: flex-start);
    gap: 40px;

    opacity: 0;
    transform: translateY(100px);
    transition: 0.7s ease;

    &.active {
      opacity: 1;
      transform: translateY(0px);
      transition: 1s ease;
    }

    .contact-title {
      color: $color-green;
      font-size: 30px;
    }

    .input.message {
      @include h-w(60px, 100%);
    }

    .input {
      @include h-w(25px, 100%);
      position: relative;

      & input, & textarea {
        background-color: transparent;
        cursor: text;
        border: none;
        border-bottom: solid 2px $color-green;
        outline: none;
        color: $color-green;
        font-size: 16px;
        font-weight: 500;
      }

      & input {
        @include h-w(25px, 100%);
      }

      & textarea {
        @include h-w(60px, 100%);
        resize: none;
      }

      & span {
        position: absolute;
        color: $color-green;
        left: 0;
        bottom: 5px;
        font-size: 16px;
        font-weight: 500;
        pointer-events: none;
        transition: 0.5s;
      }

      & input:focus ~ span,
      & input:valid ~ span {
        color: rgb(53, 53, 53);
        transform: translateY(-20px);
      }

      & textarea:focus ~ span,
      & textarea:valid ~ span {
        color: rgb(53, 53, 53);
        transform: translateY(-55px);
      }
    }
    
    .submit button {
      @include h-w(30px, 70px);
      border: 1px solid $color-green;
      border-radius: 4px;
      cursor: pointer;
      font-weight: 700;
      background-color: $color-black;
      color: $color-green;
    }
    
    .submit button:hover {
      transition: 0.5s ease;
      background-color: $color-green;
      color: black;
    }
  }

  @media (max-width: 800px) {
    .contact-links.reveal {
      height: 150px;
    }
  }
  
  .contact-links.reveal {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    opacity: 0;
    transform: translateY(100px);
    transition: 0.5s ease;

    &.active {
      opacity: 1;
      transform: translateY(0px);
      transition: 0.7s ease;
    }

    & img {
      height: 100px;
      width: 100px;
      margin: 0 20px;
      cursor: pointer;
    }
  }
}