@charset "UTF-8";
@-webkit-keyframes spin1 {
  0% {
    transform: rotate(45deg) rotate3d(1, 1, 0, 0deg);
    z-index: 9;
  }
  50% {
    transform: rotate(45deg) rotate3d(1, 1, 0, 180deg);
    z-index: 9;
  }
  100% {
    transform: rotate(45deg) rotate3d(1, 1, 0, 355deg);
    z-index: 11;
  }
}
@keyframes spin1 {
  0% {
    transform: rotate(45deg) rotate3d(1, 1, 0, 0deg);
    z-index: 9;
  }
  50% {
    transform: rotate(45deg) rotate3d(1, 1, 0, 180deg);
    z-index: 9;
  }
  100% {
    transform: rotate(45deg) rotate3d(1, 1, 0, 355deg);
    z-index: 11;
  }
}
@-webkit-keyframes spin2 {
  0% {
    transform: rotate(45deg) rotate3d(1, 1, 0, 0deg);
    z-index: 11;
  }
  50% {
    transform: rotate(45deg) rotate3d(1, 1, 0, 180deg);
    z-index: 9;
  }
  100% {
    transform: rotate(45deg) rotate3d(1, 1, 0, 355deg);
    z-index: 9;
  }
}
@keyframes spin2 {
  0% {
    transform: rotate(45deg) rotate3d(1, 1, 0, 0deg);
    z-index: 11;
  }
  50% {
    transform: rotate(45deg) rotate3d(1, 1, 0, 180deg);
    z-index: 9;
  }
  100% {
    transform: rotate(45deg) rotate3d(1, 1, 0, 355deg);
    z-index: 9;
  }
}
@media (max-width: 700px) {
  @-webkit-keyframes emoji-rise {
    0% {
      top: 0;
    }
    50% {
      top: -70px;
    }
    100% {
      top: 0;
    }
  }
  @keyframes emoji-rise {
    0% {
      top: 0;
    }
    50% {
      top: -70px;
    }
    100% {
      top: 0;
    }
  }
}
@media (min-width: 701px) {
  @-webkit-keyframes emoji-rise {
    0% {
      top: 0;
    }
    50% {
      top: -170px;
    }
    100% {
      top: 0;
    }
  }
  @keyframes emoji-rise {
    0% {
      top: 0;
    }
    50% {
      top: -170px;
    }
    100% {
      top: 0;
    }
  }
}
@-webkit-keyframes emoji-opacity {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes emoji-opacity {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@-webkit-keyframes appear {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes appear {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
* {
  margin: 0;
  box-sizing: border-box;
  color: white;
  font-family: "Montserrat", sans-serif;
  scrollbar-width: none;
}

::-webkit-scrollbar {
  display: none;
}

body {
  background-color: black;
}

section {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
}

.background {
  position: absolute;
  z-index: -1;
  bottom: 10%;
  right: 15%;
  font-size: 150px;
  text-shadow: 5px 5px 5px rgb(10, 10, 10);
  color: black;
}

@media (max-width: 1400px) {
  .background {
    font-size: 100px;
  }
}
@media (max-width: 600px) {
  .background {
    font-size: 75px;
  }
}
/******************/
/* NAVBAR SECTION */
/******************/
@media (max-width: 600px) {
  .navbar {
    padding: 40px;
  }
}
@media (min-width: 601px) {
  .navbar {
    padding: 30px 50px;
  }
}
.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 10;
}
.navbar .logo-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.navbar .logo-container .logo {
  height: 40px;
  color: white;
  cursor: pointer;
  background-color: transparent;
  z-index: 10;
}
.navbar .logo-container .logo-box-1 {
  height: 50px;
  width: 50px;
  position: absolute;
  background-color: transparent;
  border-top: 3px solid rgb(0, 223, 0);
  border-right: 3px solid rgb(0, 223, 0);
  transform: rotate(45deg);
  -webkit-animation: spin1 7s linear infinite;
          animation: spin1 7s linear infinite;
  cursor: pointer;
}
.navbar .logo-container .logo-box-2 {
  height: 50px;
  width: 50px;
  position: absolute;
  background-color: transparent;
  border-left: 3px solid rgb(0, 223, 0);
  border-bottom: 3px solid rgb(0, 223, 0);
  transform: rotate(45deg);
  -webkit-animation: spin2 7s linear infinite;
          animation: spin2 7s linear infinite;
  cursor: pointer;
}
.navbar .nav-links-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
@media (max-width: 600px) {
  .navbar .nav-links-container {
    font-size: 12px;
    gap: 20px;
  }
}
.navbar .nav-links-container > h3 {
  /* Must be relative for ::after objects */
  position: relative;
  letter-spacing: 0.5px;
  cursor: pointer;
  color: white;
  transition-duration: 0.3s;
  font-weight: 500;
}
.navbar .nav-links-container > h3:hover {
  transition: color 0.5s ease;
  color: rgb(0, 223, 0);
}
.navbar .nav-links-container > h3::after {
  height: 2px;
  width: 100%;
  content: "";
  position: absolute;
  background-color: rgb(0, 223, 0);
  transition-duration: 0.3s;
  transform: scaleX(0);
  left: 0px;
  bottom: 0px;
  opacity: 0;
}
.navbar .nav-links-container > h3:hover:after {
  transition: transform 0.5s, opacity 0.5s, bottom 0.3s;
  position: absolute;
  transform: scaleX(100%);
  bottom: -10px;
  opacity: 1;
}

/*****************/
/* INTRO SECTION */
/*****************/
@media (max-width: 700px) {
  .intro {
    font-size: 30px;
  }
}
@media (min-width: 701px) {
  .intro {
    font-size: 60px;
  }
}
.intro {
  flex-direction: column;
  letter-spacing: 0.5px;
}
.intro .intro-container {
  display: grid;
  grid-template-rows: repeat(2, auto);
  grid-template-columns: repeat(3, auto);
  /* INTRO APPEARANCE */
  /* EMOJI ANIMATION */
}
.intro .intro-container .intro-hi, .intro .intro-container .intro-im, .intro .intro-container .intro-bryce, .intro .intro-container .intro-title {
  opacity: 0;
  cursor: default;
}
.intro .intro-container .intro-hi {
  -webkit-animation: 0.7s ease 0.5s forwards appear;
          animation: 0.7s ease 0.5s forwards appear;
}
.intro .intro-container .intro-hi::after {
  content: "👋";
  position: absolute;
  left: -10px;
  top: 0;
  opacity: 0;
  z-index: -1;
  transform-origin: 70% 70%;
  -webkit-animation: 2.5s ease 0.5s emoji-rise, 1.5s ease 0.8s emoji-opacity, 2s ease 1s wave-animation;
          animation: 2.5s ease 0.5s emoji-rise, 1.5s ease 0.8s emoji-opacity, 2s ease 1s wave-animation;
}
.intro .intro-container .intro-im {
  -webkit-animation: 0.7s ease 2s forwards appear;
          animation: 0.7s ease 2s forwards appear;
}
.intro .intro-container .intro-bryce {
  -webkit-animation: 0.7s ease 2.3s forwards appear;
          animation: 0.7s ease 2.3s forwards appear;
}
@media (max-width: 700px) {
  .intro .intro-container .intro-title {
    font-size: 10px;
  }
}
@media (min-width: 701px) {
  .intro .intro-container .intro-title {
    font-size: 18px;
  }
}
.intro .intro-container .intro-title {
  grid-column: 3;
  -webkit-animation: 0.7s ease 3s forwards appear;
          animation: 0.7s ease 3s forwards appear;
  margin-top: 20px;
  justify-self: center;
}
.intro .intro-buttons-container {
  margin-top: 7vh;
}
.intro .intro-buttons-container .intro-resume, .intro .intro-buttons-container .intro-contact {
  border: 2px solid gray;
  border-radius: 2px;
  padding: 5px 20px;
  margin: 0 20px;
  background-color: transparent;
  cursor: pointer;
  opacity: 0;
  color: gray;
  font-weight: 500;
  font-size: 20px;
  transition-duration: 0.3s;
  -webkit-animation-name: appear;
          animation-name: appear;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.intro .intro-buttons-container .intro-resume:hover, .intro .intro-buttons-container .intro-contact:hover {
  transition: border 0.5s ease, color 0.5s ease;
  border: 2px solid rgb(0, 223, 0);
  color: rgb(0, 223, 0);
}

/*****************/
/* ABOUT SECTION */
/*****************/
@media (max-width: 950px) {
  .body.reveal {
    font-size: 20px;
  }
  .skills-container.reveal > img {
    height: 60px;
    width: 60px;
  }
}
@media (min-width: 951px) {
  .body.reveal {
    font-size: 30px;
  }
  .skills-container.reveal > img {
    height: 100px;
    width: 100px;
  }
}
.about-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  transform: translateY(-15%);
  width: 1150px;
  margin: 0 50px;
}
.about-container .body.reveal {
  color: white;
  transform: translateX(-500px);
  opacity: 0;
  transition: all 1s ease;
}
.about-container .body.reveal.active {
  transform: translateX(0px);
  opacity: 1;
  transition: all 1s ease;
}
@media (max-width: 600px) {
  .about-container .skills-container.reveal {
    width: 240px;
  }
}
.about-container .skills-container.reveal {
  margin-top: 50px;
  align-self: flex-end;
  transform: translateX(500px);
  opacity: 0;
  transition: all 1s ease;
}
.about-container .skills-container.reveal.skills-container.reveal.active {
  transform: translateX(0px);
  opacity: 1;
  transition: all 1s ease;
}

/****************/
/* WORK SECTION */
/****************/
@media (max-width: 700px) {
  .work-container {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: auto;
    grid-template-rows: repeat(3, auto) 4fr;
    grid-template-columns: 1fr;
    gap: 10px;
    transform: translateY(-10%);
  }
}
@media (min-width: 701px) {
  .work-container {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: 1400px;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: 1fr 2fr;
    row-gap: 20px;
    transform: translateY(-15%);
  }
}
.work-container {
  display: grid;
  padding: 0 50px;
}
@media (max-width: 700px) {
  .work-container .project.reveal {
    grid-column: 1/2;
  }
  .work-container .project-video {
    position: relative;
    grid-column: 1/2;
    grid-row: 4/5;
    width: 80%;
    padding-bottom: 45%;
    justify-self: center;
    align-self: start;
  }
}
@media (min-width: 701px) {
  .work-container .project.reveal {
    grid-column: 1/2;
  }
  .work-container .project-video {
    position: relative;
    grid-column: 2/3;
    grid-row: 1/4;
    width: 80%;
    padding-bottom: 45%;
    justify-self: end;
    align-self: center;
  }
}
@media (max-width: 950px) {
  .work-container .project.reveal {
    font-size: 12px;
  }
}
.work-container .project.reveal {
  transform: translateX(1000px);
  opacity: 0;
  transition: all 0.5s ease;
  cursor: default;
}
.work-container .project.reveal.active {
  transform: translateX(0px);
  opacity: 1;
  transition: all 0.7s ease;
}
.work-container .project.reveal h1 {
  color: rgb(0, 223, 0);
  cursor: pointer;
  font-size: 24px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.work-container .project.reveal p {
  color: gray;
  font-weight: 500;
}
.work-container .project-video.reveal {
  opacity: 0;
  border: inset 5px rgb(0, 116, 0);
}
.work-container .project-video.reveal.active {
  opacity: 1;
  transition: opacity 1.5s ease;
  transition-delay: 0.3s;
}
.work-container .video-player {
  height: 100%;
  width: 100%;
  position: absolute;
  transition: 1s ease;
}
@media (max-width: 700px) {
  .work-container .expand {
    transform: scale(150%);
  }
}
@media (min-width: 701px) {
  .work-container .expand {
    transform: scale(200%) translate(-23%, 0%);
  }
}
.work-container .expand {
  transition: 1s ease;
  transition-delay: 0.2s;
  cursor: pointer;
}

/*******************/
/* CONTACT SECTION */
/*******************/
@media (max-width: 800px) {
  .contact-container {
    height: 500px;
    grid-template-columns: none;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    transform: translateY(-15%);
  }
}
@media (min-width: 801px) {
  .contact-container {
    height: auto;
    width: 1200px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: none;
    transform: translateY(-15%);
  }
}
.contact-container {
  display: grid;
  padding: 0 50px;
}
@media (max-width: 1000px) {
  .contact-container .contact-form.reveal {
    width: 300px;
  }
}
@media (min-width: 1001px) {
  .contact-container .contact-form.reveal {
    width: 500px;
  }
}
.contact-container .contact-form.reveal {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 40px;
  opacity: 0;
  transform: translateY(100px);
  transition: 0.7s ease;
}
.contact-container .contact-form.reveal.active {
  opacity: 1;
  transform: translateY(0px);
  transition: 1s ease;
}
.contact-container .contact-form.reveal .contact-title {
  color: rgb(0, 223, 0);
  font-size: 30px;
}
.contact-container .contact-form.reveal .input.message {
  height: 45px;
  width: 100%;
}
.contact-container .contact-form.reveal .input {
  height: 25px;
  width: 100%;
  position: relative;
}
.contact-container .contact-form.reveal .input input, .contact-container .contact-form.reveal .input textarea {
  background-color: transparent;
  cursor: text;
  border: none;
  border-bottom: solid 2px rgb(0, 223, 0);
  outline: none;
  color: rgb(0, 223, 0);
  font-size: 16px;
  font-weight: 500;
}
.contact-container .contact-form.reveal .input input {
  height: 25px;
  width: 100%;
}
.contact-container .contact-form.reveal .input textarea {
  height: 45px;
  width: 100%;
  resize: none;
}
.contact-container .contact-form.reveal .input span {
  position: absolute;
  color: rgb(0, 223, 0);
  left: 0;
  bottom: 5px;
  font-size: 16px;
  font-weight: 500;
  pointer-events: none;
  transition: 0.5s;
}
.contact-container .contact-form.reveal .input input:focus ~ span, .contact-container .contact-form.reveal .input input:valid ~ span {
  color: rgb(53, 53, 53);
  transform: translateY(-20px);
}
.contact-container .contact-form.reveal .input textarea:focus ~ span, .contact-container .contact-form.reveal .input textarea:valid ~ span {
  color: rgb(53, 53, 53);
  transform: translateY(-40px);
}
.contact-container .contact-form.reveal .submit button {
  height: 30px;
  width: 70px;
  border: 1px solid rgb(0, 223, 0);
  border-radius: 4px;
  cursor: pointer;
  font-weight: 700;
  background-color: black;
  color: rgb(0, 223, 0);
}
.contact-container .contact-form.reveal .submit button:hover {
  transition: 0.5s ease;
  background-color: rgb(0, 223, 0);
  color: black;
}
@media (max-width: 800px) {
  .contact-container .contact-links.reveal {
    height: 150px;
  }
}
.contact-container .contact-links.reveal {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  opacity: 0;
  transform: translateY(100px);
  transition: 0.5s ease;
}
.contact-container .contact-links.reveal.active {
  opacity: 1;
  transform: translateY(0px);
  transition: 0.7s ease;
}
.contact-container .contact-links.reveal img {
  height: 100px;
  width: 100px;
  margin: 0 20px;
  cursor: pointer;
}/*# sourceMappingURL=App.css.map */